@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || VARIABLES */
:root {
    /* FONT */
    --FF: "Nunito", sans-serif;
    /* --FS: max(1.75rem, 3vh); */
    --FS: clamp(1.75rem,3vh,2.25rem);
    --FS-SM: clamp(1.25rem, 2vh, 1.5rem);
    /*  by using clamp function we can specify minimum, ideal(using viewport height)
    and the maximum height */
    --FS-XL: 3rem;
    /* COLOR */
    --BGCOLOR: #c97676;
    --ALT-BGCOLOR: #1E293B;
    --RADIAL-COLOR: whitesmoke;
    --LIGHT_COLOR: whitesmoke;
    --DARK_COLOR: #000;

    /* SQUARE */
    --SQUARE-BGCOLOR: papayawhip;
    --SQUARE-SIZE: MAX(150PX, 20VW);

    /* GENERAL */
    --PADDING: 0.5em;
    --SHADOWS: 0 6px 8px -5px var(--DARK_COLOR);
    --BORDER: 2px solid var(--DARK_COLOR);
}
/* prefers-color-scheme is important in custom designing
our webpages for light or dark theme web browsers */
@media (prefers-color-scheme: light) {
    :root {
        --BGCOLOR: #000;
        --ALT-BGCOLOR: #333;
        --RADIAL-COLOR: rgb(218, 218, 218);
        --SQUARE-BGCOLOR: rgb(226, 171, 226);
    }
}
body {
    font: var(--FS) var(--FF);
    min-height: 100vh;
    background-color:var(--BGCOLOR);
    background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
    display: flex;
    flex-direction: column;
}

header, nav, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer {
    position: sticky;
    background-color: var(--ALT-BGCOLOR);
    color: var(--LIGHT_COLOR);
}
nav {
    background-color: var(--LIGHT_COLOR);
    color: var(--DARK_COLOR);
   /*  padding: var(--PADDING); */
    border-bottom: var(--BORDER);
    box-shadow: var(--SHADOWS);
}

main {
    flex-grow: 1;
    padding: var(--PADDING);
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 100%));
    gap: min(2vw, 30px);
    flex: stretch;
   /*  padding: var(--PADDING); */
    /*  flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap:min(4vw, 15px) */
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start; */
}

.content {
    margin-top: 20px;
}
.tooltip {
    border-bottom: 1px dashed orange;
    position: relative;
}

.tooltip:hover::before {
    content: attr(data-tooltip);
    position:absolute;
    top: -20px;
    white-space: nowrap;
    background-color: var(--DARK_COLOR);
    padding:var(--PADDING);
    border-radius: 15px;
}
main section {
    flex-grow: 1;
    padding: var(--PADDING)
}

main aside {
    background-color: hsla(0, 0%, 20%, 0.8);
    color: var(--LIGHT_COLOR);
    font-size: var(--FS-SM);
    font-style: italic;
    padding: var(--PADDING);
}
header {
    top:0;
}
footer {
    bottom: 0;
}

a:any-link {
    color: firebrick;
}

a:hover,a:focus {
    /* opacity: 0.5; */
    /* filter: brightness(250%); */
    filter: hue-rotate(90deg);
}
/* || FEATURES */

.square--highlight {
    --SQUARE-BGCOLOR: cornflowerblue;
}
.square {
    background-color: var(--SQUARE-BGCOLOR);
    /* width: var(--SQUARE-SIZE);
    height: var(--SQUARE-SIZE); */
    border: var(--BORDER);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--FS-XL);
    box-shadow: var(--SHADOWS);
}

/* || SMALL */
@media screen and (min-width: 576px) {
    body {
        background-color: greenyellow;
        background-image: radial-gradient(whitesmoke, red);
    }
}

/* || Medium */
@media screen and (min-width: 768px) {
    body {
        background-color: gold;
        background-image: radial-gradient(whitesmoke, gold);
    }
}

/* || LARGE */
@media screen and (min-width: 992px) {
    body {
        background-color: purple;
        background-image: radial-gradient(whitesmoke, purple);
    }
}

/* || XL */
@media screen and (min-width: 1200px) {
    body {
        background-color: var(--DARK_COLOR);
        background-image: radial-gradient(whitesmoke, var(--DARK_COLOR);
    }
}

/* || MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke, dodgerblue);
    }

    h1, h2 {
        font-size: 1.5rem;
    }
    nav {
        display: none;
    }
}


@media screen and (min-width: 576px){
    main {
        flex-flow: column;
        justify-content: space-between;
    }
    main section {
        width: calc(70% - 5px);
    }
    
    main aside {
        width: calc(30% - 5px);
    }
}