html {
    font-size: 22px;
}
body
{
    background-color: #185226;
    color: whitesmoke
}
a:visited {
    color: #0a3d8ab4;
}
a:hover, a:active {
    color: #be2121;
}

table, tr, td, th, caption {
    border: 1px solid #00070c;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}